# Arquivos gerados durante a construção do projeto
node_modules/
dist/
build/

# Arquivos específicos do sistema operacional
.DS_Store

# Arquivos de logs
logs/

# Arquivos de ambiente
.env

# Arquivos de cobertura de código gerados pelos testes
coverage/
